name: conventional-commits

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

jobs:
  build:
    runs-on: ubuntu-slim
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            build
            chore
            ci
            docs
            feat
            fix
            refactor
            test
          scopes: |
            cmd
            deps
          requireScope: false
          validateSingleCommit: true
          validateSingleCommitMatchesPrTitle: true
